
{{ form_start(form) }}
<div class="card">
    <div class="card-body">
        <div class="card-title">Modifier Categorie</div>
        <hr>

        <div class="form-group">
            <label for="input-6">Nom de la categorie</label>
            {{ form_widget(form.nameCategory ,{'attr': {'class': 'form-control'}}) }}
        </div>

            <div class="form-group">
                <button type="submit" class="btn btn-light btn-round px-5">
                    <i class="icon-lock"></i>
                    {{ button_label|default('Enregistrer') }}</button>
            </div>

        </div>
    </div>

{{ form_end(form) }}