{% extends 'baseBack.html.twig' %}

{% block title %}Edit Community{% endblock %}

{% block content %}
    <h1>Edit Community</h1>

    {{ include('community/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('community_index') }}">  <i class="fa fa-long-arrow-left" > </i>back to list</a>

    {{ include('community/_delete_form.html.twig') }}
{% endblock %}
