{% extends 'baseBack.html.twig' %}


{% block content %}
    <div class="row mt-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Nouveau contact</div>
                    <hr>
                    {{ form(contactForm) }}


                    </div>





                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div><!--End Row-->




{% endblock %}