{% extends 'base.html.twig' %}


{% block title %}Hello EventController!{% endblock %}

{% block content %}

    <section id="portfolio" class="page-section nopaddingbottom">
        <div class="white">
            <h1 class="fade-down centered section-title">SOME OF WHAT WE HAVE DONE</h1>
            <hr class="fade-down">
        </div>
        <div>
            <ul id="portfolio-categories" class="filter clearfix fade-down">
                <li><a href="#" class="active btn btn-success" data-filter="*">All</a></li>
                <li><a href="#" class="btn btn-success" data-filter=".brand-design">Brand Design</a></li>
                <li><a href="#" class="btn btn-success" data-filter=".nature">Nature</a></li>
                <li><a href="#" class="btn btn-success" data-filter=".apps">Apps</a></li>
                <li><a href="#" class="btn btn-success" data-filter=".video">Video</a></li>
            </ul>

            <div id="portfolio-content" class="fade-up  title-mb">
                {% for i in product %}
                    <div class="col-md-3 ">
                        <div class="grid mask">
                            <figure>
                                <img class="img-responsive" src="{{ asset('/img/portfolio/folio01.jpg') }}" alt="">
                                <figcaption>

                                  <!--  <a href="{{ path('evennement_reservation',{'id':i.id}) }}"><button class="">reserver</button></a>
                                    <a href="{{path('evennement_show',{'id':i.id}) }}"><button class="">consulter</button></a>
                                  -->  <h5>{{ i.nameProduct }}</h5>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %


