{% extends 'baseBack.html.twig' %}

{% block title %}Edit Blog{% endblock %}

{% block content %}
    <h1>Edit Blog</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('blog/_delete_form.html.twig' , {'button_label ':'Delete'}) }}
    <a href="{{ path('blog_index') }}">Back to list</a>
{% endblock %}
