{% extends 'baseBack.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block content %}

    {{ include('blog/_form.html.twig') }}

    <a href="{{ path('blog_index') }}">back to list</a>
{% endblock %}
