{% extends 'base.html.twig' %}

{% block title %}Edit CommentArticle{% endblock %}

{% block body %}
    <h1>Edit CommentArticle</h1>

    {{ include('comment_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment_article_index') }}">back to list</a>

    {{ include('comment_article/_delete_form.html.twig') }}
{% endblock %}
